{% extends 'admn/base.html' %}
{% load static %}
{% block content %}

<section class="content-main" id='order-block'>
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order Item Active</h2>
        </div>
    </div>
    {% if active_orders %}
    <div class="card mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id='activeOrderTable'>
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">#Order Number</th>
                            <th scope="col" class="text-center">Ordered Account</th>
                            <th scope="col" class="text-center">Billing Name</th>
                            <th scope="col" class="text-center">Image</th>
                            <th scope="col" class="text-center">Product</th>
                            <th scope="col" class="text-center">Qty</th>
                            <th scope="col" class="text-center">TotalPrice</th>
                            <th scope="col" class="text-center">Order Date</th>
                            <th scope="col" class="text-center">Status</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderitem in active_orders %}
                        <tr>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.order.order_number}}</td>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.order.user}}</td>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.order.address.full_name}}</td>
                            <td class="text-center">
                                <img src="{{orderitem.product_variation.product.image.url}}" class="img-sm img-thumbnail" alt="Item">
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                <a href="" class="fw-bold"> {{orderitem.product_variation.product.product_name}}</a>
                                <p class='font-xs'>
                                    Flavour : {{orderitem.product_variation.flavour}}
                                    <br>
                                    Weight  : {{orderitem.product_variation.weight}}
                                </p>
                            </td>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.quantity}}</td>
                            <td class="text-center" style="vertical-align: middle">₹ {{orderitem.total}}</td>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.order.order_date}}</td>
                            <td class="text-center" style="vertical-align: middle">{{orderitem.status}}</td>

                            <td class="text-center align-middle">
                                        
                                <form>
                                    {% csrf_token %}
                                    <select class="form-select d-inline-block mw-200" onchange="statusChange('{{orderitem.id}}',this.value)">
                                        <option value="{{orderitem.status}}" selected>{{orderitem.status}}</option>
                                        {% if orderitem.status == 'Order Placed' %}
                                        <option>Shipped</option>
                                        <option>Cancel</option>
                                        {% elif orderitem.status == 'Shipped' %}
                                        <option>Out For Delivery</option>
                                        <option>Delivered</option>
                                        {% elif orderitem.status == 'Out For Delivery'%}
                                        <option>Delivered</option>
                                        {% elif orderitem.status == 'Return Requested'%}
                                        <option>Approve Return</option>
                                        {% endif %}
                                    </select>
                                    
               
                                </form>
                            
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    {% else %}
    <div>
        <h4>There is no Active Orders</h4>
    </div>
    {% endif %}
</section> <!-- content-main end// -->

{% endblock content %}

{% block script %}

<script>
    $('#activeOrderTable').DataTable({
        paging:true,
        pageLength:10,
        lengthChange:true,
        autoWidth:true,
        searching:true,
        bInfo:true,
        bSort:false,
    })
</script>

{% endblock script %}
