
{% extends 'base.html' %}
{% load static %}   
{% block content %}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="{% url 'index' %}" rel="nofollow">Home</a>
                <span></span> Account
                <span></span> Dashboard
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        {% include 'includes/dashboard_sidebar.html' %}
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                                <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between">
                                            <h5 class="mb-0">Hello {{user.username|capfirst}}! </h5>
                                            <h5 class="mb-0">Wallet Amount: {{wallet_amount}}</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class='row'>
                                                <div class='col-md-6'>
                                                    <div class='card bg-light h-100'>
                                                        <div class='card-body text-center'>
                                                            <h5 class='card-title mt-20'>Total Orders</h5>
                                                            <h4>{{order_count}}</h4>
                                                            <a href="{% url 'my_orders' %}">View Orders</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-md-6'>
                                                    <div class='card bg-light'>
                                                        <div class='card-body text-center'>
                                                            {% if user_profile.profile_pic %}
                                                                <img src="{{user_profile.profile_pic.url}}" alt="Profile picture" height="50" width="50" style="border-radius:50px;">
                                                            {% else %}
                                                            <img src="{% static 'assets/imgs/theme/img_avatar.png' %}" alt="User Profile Picture" width="50" height="50" style="border-radius:50%;">
                                                            {% endif %}
                                                            
                                                            <p>{{user.email}}</p>
                                                            <p>{{user.phone_number}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}