{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">

            <div class="breadcrumb">
                <a href="{% url 'index' %}" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Forgot Password
            </div>
        </div>
    </div>
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 m-auto">
                    <div class="row">
                        {% include 'includes/alerts.html' %}
                        <!-- Flexbox container for aligning the toasts -->
                        

                        <div
                            class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white" id='form-pass-block'>

                                <div class="heading_s1">
                                    <h3 class="mb-30">Forgot Password</h3>
                                </div>
                                <form method="post" id='forgotpasswordForm'>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name="phone_number"
                                            placeholder="Enter your Registered Phone number" required id='phone_number'>
                                    </div>

                                    <div class="login_footer form-group">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up">Get
                                                OTP</button>
                                        </div>
                                        <a class="text-muted" href="{% url 'user_login' %}">Got Password? Login</a>
                                    </div>

                                </form>

                                <div class='form-group d-flex justify-content-between'>
                                    <div class="text-muted">Don't have an account? <a
                                            href="{% url 'user_signup' %}">Sign up now</a></div>
                                    <div class="text-muted">For <a href="{% url 'user_login' %}">Email Login</a></div>
                                </div>
                            </div>
                            <form method='post' action="{% url 'verify_otp_password' %}">
                                {% csrf_token %}
                                <div id='otp-box' style='display:none'>
                                    <div class='mb-5'>
                                        <h3> Verify OTP</h3>
                                    </div>
                                    <input type="text" name="otp" placeholder="Enter your OTP received" required
                                        id='phone_number'>
                                        <input type="hidden" name="phone_number" value='' id='ph-num'>

                                    <button type="submit" class="btn btn-fill-out btn-block hover-up mt-15">Verify
                                        OTP</button>

                                    <p id='otp-timer' class='mt-10'>Time left: <span id='timer'></span></p>
                                </div>
                            </form>
                            <div id='resend-otp-block' style='display:none' class='text-center'>
                                <button type="submit" class="btn btn-fill-out btn-block hover-up mt-15"
                                    id='resend-otp-btn'>Resend OTP</button>
                                <div class='mt-10'>
                                    <a class="text-muted" href="{% url 'forgotpassword' %}">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



{% endblock content %}


{% block script %}
<script>
    function startTimer(duration, display) {
        var timer = duration
        var minutes, seconds
        var timer1 = setInterval(function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10)
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            display.textContent = minutes + ":" + seconds;
            if (--timer < 0) {
                $("#otp-box").hide()
                $("#resend-otp-block").show()
                $('#alert-box').hide()
                clearInterval(timer1);
            }
        }, 500);
    }


    function submitForm(formData) {

        var phone_number = formData.get('phone_number')
        

        $.ajax({
            method: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.status === 'success') {
                    
                    swal({
                        title:response.status,
                        text:response.message,
                        icon:response.status,
                        timer:4000,
                        button:false
                    }).then(function(){
                        $('#form-pass-block').hide()
                        $('#ph-num').val(phone_number)
                        $('#otp-box').show()

                        var twoMinutes = 120
                        display = document.querySelector('#timer');
                        startTimer(twoMinutes, display)
                    })
                    
                } else {
                    swal({
                        title:response.status,
                        text:response.message,
                        icon:response.status,
                        timer:4000,
                        button:false,
                        dangerMode:true,
                    })
                }
            }
        })
    }



    $(document).on('submit', '#forgotpasswordForm', function (e) {
        e.preventDefault();
        var phone = document.getElementById('phone_number').value
        phonenumberPattern = /^\d{10}$/;
        if (!phonenumberPattern.test(phone)) {
            swal({
                title: 'Error',
                text: 'Please Enter a valid phone number',
                icon: 'warning',
            })
            return false
        }

        var formData = new FormData(this)
        submitForm(formData);



    })

    $(document).on('click', '#resend-otp-btn', function () {
        $("#resend-otp-block").hide()
        var formData = new FormData($('#forgotpasswordForm')[0]);
        submitForm(formData)
    })

</script>


{% endblock script %}